/* fullscreen */
#fullscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    overflow: auto;
    z-index: 1000;
    display: none;
}
.variant {
    background-color: #ece;
}
.local {
    background-color: #eec;
}
/*logo */
.navbar-brand  img {
    margin: -10px 0;
    max-height: 40px;
}
